<div class="header">
  <div *ngIf="win32" id="window-controls">
    <div (click)="this.win.minimize()" class="button" id="min-button">
      <span>&#xE921;</span>
    </div>
    <div (click)="this.winMax = !this.winMax; this.maxMin()" class="button" id="max-button">
      <span>{{this.maxRestoreSymbol}}</span>
    </div>
    <div (click)="this.win.close()" class="button" id="close-button">
      <span>&#xE8BB;</span>
    </div>
  </div>
  <div class="logodiv">
    <img class="logo" src='./assets/logo.svg'>
  </div>
  <div class="liveTV" [routerLink]="['/stream']">
    <div style="background-color: red; width: 10px; height: 10px; border-radius: 100%; animation: shadow-pulse 2s infinite; 
        margin-top: auto; margin-bottom: auto;">
    </div>
    <h3
      style="color: white; font-size: 1.3vw; margin-top: auto; margin-bottom: auto; margin-left: .6em; font-style: italic;">
      LIVE TV</h3>
  </div>
  <div style="display: flex; align-items: center; width: 30%; height: 70%; margin: 0 auto;">
    <input [(ngModel)]="query" class="search" placeholder="Search" type="text" (keyup.enter)="Search()">
    <mat-icon (click)="Search()" class="searchIcon">search</mat-icon>
  </div>
  <div class="storeDiv">
    <mat-icon (click)="store()" class="storeIcon">shopping_cart</mat-icon>
    <mat-icon class="updateIcon" (click)="update()" [ngStyle]="{'color': updateStatus}">
      system_update_alt</mat-icon>
  </div>
</div>
<div style="height: 48px;"></div>
