.avatarImg {
  box-shadow: rgba(0, 0, 0, 0.23) 5px 3px 6px;
  transition: box-shadow 400ms;
  background-size: cover;
}

.avatarImg:hover {
  box-shadow: rgba(0, 0, 0, .23) 10px 10px 6px;
}

.featuredVideo {
  transform: perspective(1500px) rotateX(0) rotateY(-10deg) rotate(0) scale(1);
  position: absolute;
  right: 6%;
  top: 35%;
  width: 40%;
  height: 320%;
  border-radius: 20px;
  z-index: 1;
  transition-duration: .7s;
  transform-origin:center;
  background-size: cover;
}

.featuredVideo:hover {
  transform: perspective(400px) rotateX(0) rotateY(0) rotate(0) scale(1.05);
  border-radius: 15px;
}

.featuredVideoDesc {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  left: 90px;
  top: 160%;
  width: 35%;
  height: 210%;
  z-index: 1;
}

.featuredDesk {
  transform: perspective(1500px) rotateX(70deg) rotateY(0deg) rotate(0) scale(1);
  position: absolute;
  right: -4%;
  top: 270%;
  background-color: #253746;
  width: 60%;
  height: 150%;
  z-index: 0;
}

.featuredImg {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 20px;
  transition: all .5s cubic-bezier(.645, .045, .355, 1);
  cursor: pointer;
}

.videoOptions {
  transition: all .2s;
  width: 15vw;
  height: 3.5vw;
  text-align: center;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #253746;
  cursor: pointer;
}

.videoOptions h3 {
  border-bottom: none;
  color: #253746;
}

.videoOptions h3:hover {
  border-bottom: 4px solid #253746;
}

a {
  text-decoration: none;
}

.videoOptionsActive h3 {
  border-bottom: 4px solid #253746;
  text-decoration: none;
}