<div style="display: flex; flex-direction: row; position: absolute; left: 55px; right: 0; top: 48px; bottom: 0;">
  <div (mouseenter)="displayStatus = true" *ngIf="channel" class="nowPlaying"
    [ngStyle]="{'opacity': displayStatus == true ? '1' : '0'}">
    <img src="{{channel?.avatar}}" style="height: 100%; margin-right: .5em;">
    <div *ngIf="channel"
      style="height: 100%; width: 100%; display: flex; flex-direction: column; padding-right: 1em; justify-content: space-around; padding-top: .2vw; padding-bottom: .4vw;">
      <h3 style="font-size: 1.7vw; color: white; width: 100%;">Now Playing:</h3>
      <h3 style="font-size: 1.5vw; color: white; width: 100%; font-style: italic;">{{channel?.title}}</h3>
      <div style="width: 100%; display: flex; flex-direction: row; margin-left: .5em;">
        <div
          style="background-color: red; width: 10px; height: 10px; border-radius: 100%; animation: shadow-pulse 2s infinite; margin-top: auto; margin-bottom: auto;">
        </div>
        <h3
          style="color: white; font-size: 1.3vw; margin-top: auto; margin-bottom: auto; margin-left: .6em; font-style: italic;">
          LIVE TV</h3>
      </div>
    </div>
  </div>
  <vg-player (mouseenter)="displayStatus = true" (mouseleave)="displayStatus = false"
    style="width: 100%; height: 100%;">
    <div
      style="width: 10em; height: 10em; position: absolute; width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-around; padding-left: 5%; padding-right: 5%; z-index: 0;" *ngIf="!channel">
      <div *ngFor="let channel of showInfo"
        style="margin-top: auto; margin-bottom: auto; display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: column;">
          <img [@simpleFadeAnimation]="'in'" *ngIf="channel?.avatar" style="width: 10vw; height: 10vw; border-radius: 50%; border: 8px solid white; margin-left: auto; margin-right: auto;"
            src="{{channel?.avatar}}">
            <h3 [@simpleFadeAnimation]="'in'" style="font-size: 1.5vw; color: white;">{{channel?.times}}</h3>
        </div>
      </div>
    </div>
    <video  *ngIf="channel" style="width: 100%; height: 100%;" #media #vgHls="vgHls" [vgMedia]="media"
      [vgHls]="channel?.liveStreamVideo?.streamUrl" id="singleVideo" preload="auto" controls crossorigin autoplay>
    </video>
  </vg-player>
</div>