.pipDiv {
  transition: all .5s;
  position: absolute;
  border-radius: 10px;
  width: 4vw;
  height: 3.5vw;
  background-color: #253746;
  display: flex;
  cursor: pointer;
  z-index: 1;
}

.pipDiv:hover {
  background-color: #00B4E4;
}