<div class="row">
  <div class="col" *ngFor="let video of firstVideo" style="width: 100%; height: 100%;">
    <a [routerLink]="['/video', video._id, video?.channel?._id]">
      <img class="videoImg" src="{{video.largeImage}}">
    </a>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let video of firstVideo">
    <h3 style="font-size: 1.1vw; font-weight: 700; margin-top: 1em; height: 3em;">{{video.title | truncate : 70 : true}}
    </h3>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let video of secondVideo" style="margin-top: 1em; width: 100%; height: 100%;">
    <a [routerLink]="['/video', video._id, video?.channel?._id]">
      <img class="videoImg" src="{{video.largeImage}}">
    </a>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let video of secondVideo">
    <h3 style="font-size: 1.1vw; font-weight: 700; margin-top: 1em;">{{video.title | truncate : 70 : true}}</h3>
  </div>
</div>
