<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
  <div [@simpleFadeAnimation]="'in'" *ngFor="let video of videos" style="height: 10vw; width: 18vw;" class="rowItem">
    <a [routerLink]="['/video', video._id, video?.channel?._id]">
      <img [@simpleFadeAnimation]="'in'" class="videoImg" src="{{video.largeImage}}">
    </a>
    <h3 style="font-size: 1vw; font-weight: 500; margin-top: .5em;">
      {{abbrNum(video.playCount, 2)}} views
    </h3>
    <h3 style="font-size: 1.1vw; font-weight: 700; height: 3em; margin-bottom: 1em;">
      {{video.title | truncate : 70 : true}}
    </h3>
  </div>
</div>