.col {
    padding-left: 5px;
    padding-right: 5px;
}

.videoImg {
    cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.23) 5px 3px 6px;
  transition: box-shadow 400ms;
}

.videoImg:hover {
  box-shadow: rgba(0, 0, 0, .23) 10px 10px 6px;
}