<div class="container-fluid" style="padding-left: 5%; padding-right: 4%;">
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-lg-auto" style="width: 70%; height: 100%;">
        <vg-player class="videoImg" style="width: 100%; height: 100%; margin-bottom: 1em; border-radius: 8px;">
          <video *ngIf="data" style="width: 100%; height: 100%;" #media #vgHls="vgHls"
            [vgMedia]="media"
            [vgHls]="data?.data?.getVideo?.directUrl" id="singleVideo" preload="auto" controls crossorigin>
          </video>
        </vg-player>
        <h3 style="font-size: 1.75vw; font-weight: 700; white-space: normal; word-wrap: break-word; width: 90%;">
          {{data?.data?.getVideo?.title}}</h3>
        <div class="container-fluid" style="margin-bottom: .6em; position: relative;" *ngIf="data">
          <a [routerLink]="['/channel', data?.data?.getVideo?.channel?._id]">
          <img class="videoImg" src="{{data?.data?.getVideo?.channel?.avatar}}" width="8%" height="8%"
            style="border-radius: 100%;">
          </a>
          <h3 style="font-size: 1.5vw; font-weight: 700; display: inline; bottom: 0; left: 11%; position: absolute;">
            {{data?.data?.getVideo?.channel?.title}}</h3>
        </div>
        <div style="border: 1px solid rgb(233, 233, 233); margin-top: 2%; margin-bottom: 2%;"></div>
        <p style="font-size: 1.1vw; font-weight: 700; white-space: normal; word-wrap: break-word; width: 90%;">
          {{data?.data?.getVideo?.summary}}</p>
      </div>
    </div>
  </div>
  <div style="position: absolute; top: 65px; right: 0; width: 30%;" class="container">
    <div class="row" *ngFor="let video of channel?.data?.getChannel.videos" style="margin-bottom: 1em;">
      <div class="col-lg">
        <a [routerLink]="['/video', video._id, video.channel._id]">
          <img class="videoImg" src="{{video.largeImage}}" width="100%"
            style="background-size: cover; border-radius: 8px; position: relative;">
        </a>
      </div>
      <div class="col">
        <h3 style="font-size: 1.05vw; font-weight: 700; white-space: normal; word-wrap: break-word; width: 90%;">
          {{video.title | truncate : 70 : true}}</h3>
      </div>
    </div>
  </div>
