.mat-icon {
  color: white;
  cursor: pointer;
  width: 55px;
  text-align: center;
  margin: 0 auto;
  transition: all .5s;
  font-size: 3vw;
  height: 1em;
  margin-bottom: 1em;
  position: fixed;
  z-index: 2;
  background-color: #253746;
  top: 48px;
  padding-bottom: 1em;
  padding-top: .02em;
  border-bottom: .3em solid #253746;
  border-top: .3em solid #253746;
}

.mat-icon:hover {
  background-color: #00B4E4;
}

.sidebar {
    background-color: #253746;
    width: 55px;
    height: 96%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: scroll;
}

.dashDiv {
  background-color: #253746;
  width: 55px;
  height: 6em;
  z-index: 1;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.channelIcon {
  transition: all .3s;
}

.channelIcon:hover {
  border: 2px solid #00B4E4;
}
