/* You can add global styles to this file, and also import other style files */


body,
html {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  user-select: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

div {
  scroll-behavior: smooth;
}

 a,
 a:hover,
 a:focus,
 a:active {
   text-decoration: none;
   color: inherit;
 }